@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&family=Raleway:wght@500;700&display=swap');

h3{
font-family: 'Raleway' ;
font-weight: 500;
}


html {
    scroll-behavior: smooth;
  }

  
/* header section */
/* .navbar-nav a:hover{
    color: red;

} */

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(201, 81, 101);

  
}

.banner_style{
    max-height: 500px;
    width: 100%;
    filter: brightness(50%);
}

/* card section */
.hightlight_card{
    transform: scaley(1.20);

}

i.far.fa-check-circle {
    margin-top: -10px;
}

.custom_button button{
    background-color: rgb(238, 152, 166);
    padding:15px;
    border: none;   
}

.foods_container{
    position: relative;
    width: 100%;
}
.food-image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.menu{
    transition: .5s ease;
    opacity:0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,50%);
    text-align: center;
}
.foods_container:hover .food-image{
    filter: brightness(80%);
    
}
.foods_container:hover .menu{
    opacity: 1;
}
.text{
    color: white;
    font-size: 16px;
    background-color: black;
    padding: 16px 32px;


}

