.banner_style{
    max-height: 500px;
    width: 100%;
    filter: brightness(50%);
}



.custom_button button{
    background-color: #ffe9f5;
    padding:0.90rem 2rem;
    border: none;   
}
/* .hot_card_custom{
    margin-top: -28px;
} */